@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    max-width:100%;
}
body {
margin: 0%;
padding: 0%;
overflow-x: hidden;
}
button{
    cursor: pointer;
    background-color: #3b82f6;
    color: white;
    padding: 0.6rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 20px;
    margin-bottom: 15px;
}
button:hover{
    background-color: #2563eb;
}